---
import { getProjects } from '@/lib/fetchers'
import ProjectItem from './ProjectItem.astro'
import { buttonVariants } from '@/components/ui/utils'
import { Icons } from '@/components/icons/icons'
import { getLangFromLocale, useTranslations } from '@/i18n/utils'

// TYPES
interface Props {
  subtitle?: string
  showAll?: boolean
  priority?: boolean
}

// CONST
const { subtitle, showAll = false, priority = false } = Astro.props

// I18N
const lang = getLangFromLocale(Astro.currentLocale)
const t = useTranslations(lang)

// FETCHERS
const projects = await getProjects(lang)
---

<section class='section container px-4' data-show-more={showAll}>
  <h2 class='text-3xl font-pixel screen-line-after py-2'>
    {t('projects').title}
    <sup class='text-sm text-muted-foreground select-none'>
      ({projects.length})
    </sup>
  </h2>
  {
    subtitle && (
      <p class='text-muted-foreground py-1 font-pixel screen-line-after'>
        {subtitle}
      </p>
    )
  }
  <ul>
    {
      projects.map((project, index) => (
        <li class='max-sm:screen-line-before max-sm:screen-line-after sm:nth-[2n]:screen-line-before sm:nth-[2n]:screen-line-after project-item relative'>
          <ProjectItem project={project} priority={priority && index < 4} />
        </li>
      ))
    }
  </ul>
  {
    !showAll && (
      <div class='screen-line-before flex justify-center py-2'>
        <button
          id='show-more-projects'
          class={buttonVariants({ variant: 'default' })}
        >
          {t('projects').showMore}
          <Icons.chevronUp class='rotate-180' id='show-more-icon-projects' />
        </button>
      </div>
    )
  }
</section>

<script>
  import { getLangFromLocale, useTranslations } from '@/i18n/utils'
  import { animate, stagger } from 'animejs'

  // I18N
  const locale = window.location.href.split('/')[3]
  const lang = getLangFromLocale(locale)
  const t = useTranslations(lang)

  const showMoreSection = document.querySelector(
    '[data-show-more]'
  ) as HTMLElement
  const allowToggle = showMoreSection?.dataset.showMore === 'false'

  if (allowToggle) {
    const showMore = document.getElementById(
      'show-more-projects'
    ) as HTMLButtonElement
    const showMoreIcon = document.getElementById(
      'show-more-icon-projects'
    ) as HTMLElement
    const projectItems = document.querySelectorAll('.project-item')

    let isExpanded = false

    const toggleItems = () => {
      const hiddenItems = Array.from(projectItems).slice(3)

      if (!isExpanded) {
        hiddenItems.forEach((item) => item.classList.remove('hidden'))

        animate(hiddenItems, {
          opacity: [0, 1],
          scale: [0.95, 1],
          easing: 'easeOutExpo',
          duration: 500,
          delay: stagger(100, { start: 0 })
        })

        showMore.textContent = t('projects').showLess
        showMoreIcon.classList.remove('rotate-180')
        isExpanded = true
      } else {
        animate(hiddenItems, {
          opacity: [1, 0],
          scale: [1, 0.95],
          easing: 'easeInExpo',
          duration: 300,
          delay: stagger(80, { reversed: true }),
          onComplete: () => {
            hiddenItems.forEach((item) => item.classList.add('hidden'))
          }
        })

        showMore.textContent = t('projects').showMore
        showMoreIcon.classList.add('rotate-180')
        isExpanded = false
      }
    }

    document.addEventListener('DOMContentLoaded', () => {
      projectItems.forEach((item, index) => {
        if (index > 2) item.classList.add('hidden')
      })

      showMore.addEventListener('click', () => toggleItems())
    })
  }
</script>
