---
import { getProjects } from '@/lib/fetchers'
import { Icons } from '@/components/icons/icons'
import { buttonVariants } from '@/components/ui/utils'
import { getLangFromLocale, useTranslations } from '@/i18n/utils'
import { getRelativeLocaleUrl } from 'astro:i18n'

// TYPES
interface Props {
  projectId: string
}

// PROPS
const { projectId } = Astro.props

// I18N
const lang = getLangFromLocale(Astro.currentLocale)
const t = useTranslations(lang)

// FETCHERS
const projects = await getProjects(lang).then((projects) => {
  return projects.filter((project) => !project.data.comingSoon)
})
const actualProject = projects.findIndex((project) => project.id === projectId)

// CONSTS
const previous = actualProject > 0 ? projects[actualProject - 1] : null
const next =
  actualProject < projects.length - 1 ? projects[actualProject + 1] : null
---

<nav
  class='flex items-center justify-between px-2 py-3 container border-x border-edge mt-1'
>
  <a
    href={getRelativeLocaleUrl(lang, '/projects')}
    class={buttonVariants({ variant: 'link' })}
  >
    <Icons.arrowLeft />
    {t('projects').title}
  </a>

  <div class='flex items-center gap-2'>
    {
      previous && (
        <a
          href={getRelativeLocaleUrl(lang, `/projects${previous.id}`)}
          class={buttonVariants({
            variant: 'outline',
            size: 'icon',
            className: 'hover:bg-muted'
          })}
        >
          <Icons.arrowLeft />
          <span class='sr-only'>Previous</span>
        </a>
      )
    }

    {
      next && (
        <a
          href={getRelativeLocaleUrl(lang, `/projects${next.id}`)}
          class={buttonVariants({
            variant: 'outline',
            size: 'icon',
            className: 'hover:bg-muted'
          })}
        >
          <span class='sr-only'>Next</span>
          <Icons.arrowLeft class='rotate-180' />
        </a>
      )
    }
  </div>
</nav>
