---
import type { userData } from '@/constants/site-data'
import { getLangFromLocale } from '@/i18n/utils'

// TYPES
interface Props {
  item: (typeof userData)['overview'][number]
}

// PROPS
const { content, href } = Astro.props.item

// I18N
const lang = getLangFromLocale(Astro.currentLocale)

// CONST
const formattedContent = typeof content === 'object' ? content[lang] : content
---

<div class='flex items-center gap-4 text-sm'>
  <div
    class='flex size-6 shrink-0 items-center justify-center bg-muted rounded-sm'
    aria-hidden='true'
  >
    <slot />
  </div>

  <p class='text-balance'>
    {
      href ? (
        <a
          class='underline-offset-4 hover:underline'
          href={href}
          target='_blank'
          rel='noopener noreferrer'
        >
          {formattedContent}
        </a>
      ) : (
        formattedContent
      )
    }
  </p>
</div>
