---
import { cn } from '@/lib/fetchers'

// PROPS
interface Props {
  items: any[]
  className?: string
}

// PROPS
const { items, className } = Astro.props
---

{
  Array.isArray(items) && items.length > 0 && (
    <ul class={cn('flex flex-wrap gap-1.5 pt-2 pl-9', className)}>
      {items.map((item) => (
        <li class='flex'>
          <span class='inline-flex items-center rounded-lg border bg-muted px-1.5 py-0.5 font-pixel text-xs text-foreground'>
            {item}
          </span>
        </li>
      ))}
    </ul>
  )
}
