---
import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger
} from '@/components/ui/accordion'
import { getLangFromLocale, useTranslations } from '@/i18n/utils'

// TYPES
interface Props {
  items: { label: string; id: string }[]
}

// PROPS
const { items } = Astro.props

// I18N
const lang = getLangFromLocale(Astro.currentLocale)
const t = useTranslations(lang)
---

<Accordion type='single' class='not-prose rounded-sm bg-muted font-sans mb-3'>
  <AccordionItem value='toc'>
    <AccordionTrigger
      class='group/toc inline-flex w-full items-center justify-between text-sm font-medium'
    >
      {t('content').title}
    </AccordionTrigger>

    <AccordionContent class='overflow-hidden duration-300'>
      <ul class='flex flex-col px-4 pb-3 text-sm text-muted-foreground'>
        {
          items.map(({ label, id }) => (
            <li class='flex py-1'>
              <a
                class='underline-offset-4 transition-colors hover:text-accent-foreground hover:underline'
                href={`#${id}`}
              >
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </AccordionContent>
  </AccordionItem>
</Accordion>
