---
import { userData } from '@/constants/site-data'
import { getLangFromLocale, useTranslations } from '@/i18n/utils'

// I18N
const lang = getLangFromLocale(Astro.currentLocale)
const t = useTranslations(lang)
---

<section class='container section px-4' id='about'>
  <h2 class='text-3xl font-pixel screen-line-after py-2'>{t('about').title}</h2>
  <p
    class='prose text-foreground py-4 [&>span]:block [&>span]:mb-4 [&>span:last-child]:mb-0'
  >
    {userData.about[lang].map((sentence) => <span>{sentence}</span>)}
  </p>
</section>
