---
import { cn, getPosts } from '@/lib/fetchers'
import BlogCard from './BlogCard.astro'
import { buttonVariants } from '@/components/ui/utils'
import { Icons } from '@/components/icons/icons'
import { getLangFromLocale, useTranslations } from '@/i18n/utils'
import { getRelativeLocaleUrl } from 'astro:i18n'

// TYPES
interface Props {
  subtitle?: string
  showAll?: boolean
  priority?: boolean
}

// PROPS
const { subtitle, showAll = false, priority = false } = Astro.props

// CONST
const lang = getLangFromLocale(Astro.currentLocale)
const t = useTranslations(lang)

// FETCHERS
const featuredPost = await getPosts(lang, showAll ? 0 : 4)
---

<section class='section container px-4' data-show-more={showAll}>
  <h2 class='text-3xl font-pixel screen-line-after py-2'>
    {t('blogList').title}
    <sup class='text-sm text-muted-foreground select-none'>
      ({featuredPost.length})
    </sup>
  </h2>
  {subtitle && <p class='text-muted-foreground py-1 font-pixel'>{subtitle}</p>}
  <div class={cn('relative', showAll ? 'py-0' : 'py-4')}>
    <div
      class='pointer-events-none absolute inset-0 -z-1 grid grid-cols-1 gap-4 max-sm:hidden sm:grid-cols-2'
    >
      <div class='border-r border-edge'></div>
      <div class='border-l border-edge'></div>
    </div>

    <ul class='grid grid-cols-1 gap-4 sm:grid-cols-2'>
      {
        featuredPost.map((post, index) => (
          <li class='group/post flex flex-col gap-2 p-2 max-sm:screen-line-before max-sm:screen-line-after sm:nth-[2n+1]:screen-line-before sm:nth-[2n+1]:screen-line-after'>
            <BlogCard blogPost={post} priority={priority && index < 6} />
          </li>
        ))
      }
    </ul>
  </div>

  {
    !showAll && (
      <div class='screen-line-before flex justify-center py-2'>
        <a
          href={getRelativeLocaleUrl(lang, '/blog')}
          class={buttonVariants({ variant: 'default' })}
        >
          {t('blogList').showMore}
          <Icons.arrowUpRight />
        </a>
      </div>
    )
  }
</section>
