@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-border: var(--popover-border);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-edge: var(--edge);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-destructive: var(--destructive);
  --color-link: var(--link);
  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-number: var(--code-number);
  --color-code-highlight: var(--code-highlight);
  --font-sans: 'Geist', sans-serif;
  --font-pixel: 'Pixelify Sans', sans-serif;
  --shadow-popover: var(--shadow-popover);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--starwind-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--starwind-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility starwind-transition-colors {
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke,
    --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: var(--default-transition-duration);
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility container {
  @apply mx-auto md:max-w-3xl;
}

@utility dotted-bg {
  @apply bg-black/0.75 bg-[radial-gradient(var(--pattern-foreground)_1px,transparent_0)] bg-size-[10px_10px] [--pattern-foreground:var(--color-zinc-950)]/5 dark:bg-white/0.75 dark:[--pattern-foreground:var(--color-white)]/5;
}

@utility section {
  @apply screen-line-before screen-line-after border-edge border-x;
}

@utility link {
  @apply font-medium underline underline-offset-4;
}

@utility screen-line-before {
  @apply before:bg-edge relative before:absolute before:top-0 before:-left-[100vw] before:-z-1 before:h-px before:w-[200vw];
}

@utility screen-line-after {
  @apply after:bg-edge relative after:absolute after:bottom-0 after:-left-[100vw] after:-z-1 after:h-px after:w-[200vw];
}

@utility step {
  counter-increment: step;
  &::before {
    @apply bg-muted text-muted-foreground mr-2 inline-flex size-7 items-center justify-center rounded-full text-center -indent-px text-sm font-medium md:absolute md:-mt-0.5 md:-ml-11.5 md:size-8;
    content: counter(step);
  }
}

:root {
  --background: oklch(0.7975 0.0951 268.35);
  --foreground: oklch(0.2781 0.0296 256.85);
  --primary: oklch(0.2781 0.0296 256.85);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.6735 0.0444 256.85);
  --secondary-foreground: oklch(0.2781 0.0296 256.85);
  --muted: oklch(0.6735 0.0444 256.85);
  --muted-foreground: oklch(0.4 0.0321 256.85);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2781 0.0296 256.85);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2781 0.0296 256.85);
  --popover-border: color-mix(in oklab, var(--color-black) 15%, transparent);
  --accent: oklch(0.6735 0.0444 256.85);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --border: oklch(0.4824 0.0518 256.85);
  --edge: color-mix(in oklab, var(--border) 64%, var(--background));
  --input: oklch(0.4824 0.0518 256.85);
  --ring: oklch(0.67 0.17 244.98);
  --info: oklch(0.67 0.17 244.98);
  --success: oklch(0.723 0.219 149.579);
  --destructive: oklch(0.577 0.245 27.325);
  --link: oklch(0.488 0.243 264.376);
  --code: oklch(0.985 0 0);
  --code-foreground: oklch(0.2781 0.0296 256.85);
  --code-number: oklch(0.705 0.015 286.067);
  --code-highlight: oklch(0.6735 0.0444 256.85);
  --shadow-popover: 0 6px 24px rgba(0, 0, 0, 0.25);
}

.dark {
  --background: oklch(0.2781 0.0296 256.85);
  --foreground: oklch(0.7975 0.0951 268.35);
  --primary: oklch(0.37 0.013 285.805);
  --primary-foreground: oklch(0.7975 0.0951 268.35);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.7975 0.0951 268.35);
  --muted: oklch(0.4441 0.0271 256.85);
  --muted-foreground: oklch(0.6706 0.0345 268.35);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.7975 0.0951 268.35);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.7975 0.0951 268.35);
  --popover-border: oklch(0.37 0.013 285.805);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.7975 0.0951 268.35);
  --border: oklch(0.4824 0.0518 256.85);
  --edge: color-mix(in oklab, var(--border) 64%, var(--background));
  --input: oklch(0.274 0.006 286.033);
  --success: oklch(0.723 0.219 149.579);
  --destructive: oklch(0.505 0.213 27.518);
  --link: oklch(0.623 0.214 259.815);
  --code: oklch(0.21 0.006 285.885);
  --code-foreground: oklch(0.7975 0.0951 268.35);
  --code-number: oklch(0.552 0.016 285.938);
  --code-highlight: oklch(0.274 0.006 286.033);
  --shadow-popover: 0 0 24px rgba(0, 0, 0, 0.5);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50;
  }

  html {
    color-scheme: dark light;
    @apply motion-safe:scroll-smooth;
  }

  body {
    @apply bg-background text-foreground overscroll-y-none font-sans antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--cd-border);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--cd-border) transparent;
  }

  [id] {
    @apply scroll-mt-22;
  }

  .custom-prose {
    @apply prose text-foreground prose-headings:font-pixel prose-headings:text-foreground prose-h2:text-3xl prose-h2:font-normal prose-h2:w-full prose-blockquote:text-foreground prose-strong:text-foreground prose-strong:font-bold prose-code:text-foreground prose-a:text-foreground;
  }
}

@layer components {
  [data-rehype-pretty-code-figure] {
    @apply bg-code text-code-foreground relative my-6 rounded-lg;

    pre {
      @apply overflow-x-auto px-4 py-4 has-data-line-numbers:px-0;
    }

    code {
      @apply font-pixel text-sm;
    }
  }

  [data-line] {
    @apply py-0.5;
  }

  [data-line] span {
    @apply text-(--shiki-light) dark:text-(--shiki-dark);
  }

  [data-rehype-pretty-code-title] {
    @apply text-muted-foreground [&_svg]:text-muted-foreground flex items-center gap-2 border-b px-4 py-2.5 text-sm [&_svg]:size-4;
  }

  [data-line-numbers] {
    counter-reset: line;
  }

  [data-disabled='true'] {
    @apply pointer-events-none line-through opacity-75;
  }

  [data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply bg-code text-code-number sticky left-0 inline-block w-16 pr-6 text-right text-sm;
  }

  [data-line-numbers] [data-highlighted-line][data-line]::before {
    @apply bg-code-highlight;
  }

  [data-highlighted-line] {
    @apply bg-code-highlight after:bg-border relative after:absolute after:top-0 after:left-0 after:h-full after:w-0.5;
  }
}
