---
import { cn } from '@/lib/utils'
---

<div class={cn('aspect-2/1 select-none sm:aspect-5/1 text-foreground')}>
  <div
    class='container screen-line-after screen-line-before before:-top-px size-full flex justify-center items-center border-x border-edge dotted-bg'
  >
    <span class='text-9xl font-pixel'> AAA </span>
  </div>
</div>
