---
import { getLangFromLocale } from '@/i18n/utils'
import { getRelativeLocaleUrl } from 'astro:i18n'

// I18N
const lang = getLangFromLocale(Astro.currentLocale)
---

<a
  href={getRelativeLocaleUrl(lang, '/')}
  class='font-pixel hover:text-muted duration-200 ease-in transition-colors'
>
  AAA
  <span class='sr-only'>Adrian Alvarez Alonso Portfolio</span>
</a>
