---
import { cn } from '@/lib/utils'
import { navItems } from '@/constants/site-data'

// CONST
const active = Astro.url.pathname
---

<nav class='flex items-center gap-4'>
  {
    navItems.map(({ title, href }) => {
      const isActive =
        active === href || (href !== '/' && active?.startsWith(href))

      return (
        <a
          class={cn(
            'text-sm font-medium text-foreground/50 hover:text-foreground transition-colors ease-in duration-200',
            isActive && 'text-foreground underline'
          )}
          href={href}
        >
          {title}
        </a>
      )
    })
  }
</nav>
