---
import A3Logo from './A3logo.astro'
import DesktopNav from './DesktopNav.astro'
import GitHubButton from './GitHubButton.astro'
import LangSwitcher from './LangSwitcher.astro'
import MobileNav from './MobileNav.astro'
import ToggleTheme from './ToggleTheme.astro'
---

<header
  class='fixed inset-x-0 top-0 z-50 bg-background px-2 pt-2 transition-shadow duration-300'
>
  <div
    class='screen-line-before screen-line-after mx-auto flex h-12 items-center justify-between gap-2 border-x border-edge px-2 after:z-1 after:transition-[background-color] sm:gap-4 md:max-w-3xl'
  >
    <A3Logo />
    <DesktopNav />
    <div class='flex gap-2.5'>
      <GitHubButton />
      <ToggleTheme />
      <LangSwitcher />
      <MobileNav />
    </div>
  </div>
</header>
