---
import { buttonVariants } from '@/components/ui/utils'
import { getLangFromLocale } from '@/i18n/utils'
import { getCounterpartById } from '@/lib/fetchers'
import { getIsBlogOrProject, getBlogOrProject } from '@/lib/utils'

let counterPartId = null

const lang = getLangFromLocale(Astro.currentLocale)
const isBlogOrProject = getIsBlogOrProject(Astro.url)

if (!isBlogOrProject) {
  const PageId = Astro.url.toString().split('/').filter(Boolean)[4]
  const blogOrProject = getBlogOrProject(Astro.url)
  counterPartId = await getCounterpartById(PageId, lang, blogOrProject)
}
---

<button
  data-counterpart-id={counterPartId}
  id='lang-switcher'
  class={buttonVariants({
    variant: 'outline',
    size: 'icon',
    className: 'hover:bg-muted'
  })}
>
  {lang === 'en' ? <span>EN</span> : <span>ES</span>}
  <span class='sr-only'>Lang Switcher</span>
</button>

<script>
  import { changeLangFromUrl, getLangFromLocale } from '@/i18n/utils'

  const locale = window.location.href.split('/')[3]
  const lang = getLangFromLocale(locale)
  const url = new URL(window.location.href)
  const langSwitcherBtn = document.getElementById(
    'lang-switcher'
  ) as HTMLButtonElement
  const counterpartId = langSwitcherBtn.dataset.counterpartId

  langSwitcherBtn.addEventListener('click', async () => {
    const newUrl = changeLangFromUrl(url, lang, counterpartId)
    window.location.href = newUrl // now a full redirect works
  })
</script>
