---
import { userData } from '@/constants/site-data'
import SocialLinksItem from './SocialLinksItem.astro'
import { Icons } from '@/components/icons/icons'
import { getLangFromLocale, useTranslations } from '@/i18n/utils'

// I18N
const lang = getLangFromLocale(Astro.currentLocale)
const t = useTranslations(lang)
---

<section id='social-links' class='section container'>
  <h2 class='sr-only'>{t('socialLinks').title}</h2>
  <ul class='grid grid-cols-1 gap-4 sm:grid-cols-2'>
    {
      userData.social.map((link) => {
        const Icon = Icons[link.icon as keyof typeof Icons]
        return (
          <li class='col-span-1 odd:border-r even:border-l border-border/50'>
            <SocialLinksItem link={link}>
              <Icon class='size-full text-foreground fill-foreground' />
            </SocialLinksItem>
          </li>
        )
      })
    }
  </ul>
</section>
