---
import { buttonVariants } from '@/components/ui/utils'
import { Icons } from '@/components/icons/icons'
import CertificationItem from './CertificationItem.astro'
import { certifications } from '@/constants/site-data'
---

<section class='section container'>
  <h2 class='text-3xl font-bold font-pixel screen-line-after py-1'>
    Certifications
    <sup class='text-sm text-muted-foreground select-none'>
      ({certifications.length})
    </sup>
  </h2>
  <ul class='last:border-b-none'>
    {
      certifications.map((certification) => (
        <li class='border-b border-muted certification-item'>
          <CertificationItem certification={certification} />
        </li>
      ))
    }
  </ul>
  <div class='screen-line-before flex justify-center py-2'>
    <button
      id='show-more-certifications'
      class={buttonVariants({ variant: 'default' })}
    >
      Show More
      <Icons.chevronUp class='rotate-180' id='show-more-icon-certifications' />
    </button>
  </div>
</section>

<script>
  import { animate, stagger } from 'animejs'

  const showMore = document.getElementById(
    'show-more-certifications'
  ) as HTMLButtonElement
  const showMoreIcon = document.getElementById(
    'show-more-icon-certifications'
  ) as HTMLElement
  const certificationItems = document.querySelectorAll('.certification-item')
  console.log('🚀 ~ projectItems:', certificationItems)

  let isExpanded = false

  const toggleItems = () => {
    const hiddenItems = Array.from(certificationItems).slice(3)

    if (!isExpanded) {
      hiddenItems.forEach((item) => {
        item.classList.remove('hidden')
      })

      animate(hiddenItems, {
        opacity: [0, 1],
        scale: [0.95, 1],
        easing: 'easeOutExpo',
        duration: 500,
        delay: stagger(100, { start: 0 })
      })

      showMore.textContent = 'Show Less'
      showMoreIcon.classList.remove('rotate-180')
      isExpanded = true
    } else {
      animate(hiddenItems, {
        opacity: [1, 0],
        scale: [1, 0.95],
        easing: 'easeInExpo',
        duration: 300,
        delay: stagger(80, { reversed: true }),
        onComplete: () => {
          hiddenItems.forEach((item) => {
            item.classList.add('hidden')
          })
        }
      })

      showMore.textContent = 'Show More'
      showMoreIcon.classList.add('rotate-180')
      isExpanded = false
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    certificationItems.forEach((item, index) => {
      if (index > 2) item.classList.add('hidden')
    })
  })

  showMore.addEventListener('click', () => {
    toggleItems()
  })
</script>
