---
import { experiences } from '@/constants/site-data'
import ExperiencesItem from './ExperiencesItem.astro'
import { getLangFromLocale, useTranslations } from '@/i18n/utils'

// I18N
const lang = getLangFromLocale(Astro.currentLocale)
const t = useTranslations(lang)
---

<section class='section container px-4'>
  <h2 class='text-3xl font-pixel screen-line-after py-2'>
    {t('experiences').title}
  </h2>
  <div class='pr-2 pl-4'>
    {
      experiences.map((experience) => (
        <ExperiencesItem experience={experience} />
      ))
    }
  </div>
</section>
