---
import { Icons } from '@/components/icons/icons'
import { data } from '@/constants/site-config'
import { getLangFromLocale, useTranslations } from '@/i18n/utils'

// I18N
const lang = getLangFromLocale(Astro.currentLocale)
const t = useTranslations(lang)
---

<footer class='max-w-screen overflow-x-hidden px-2'>
  <div
    class='screen-line-before mx-auto border-x border-edge pt-4 md:max-w-3xl'
  >
    <p set:html={t('footer').inspired} />
    <p set:html={t('footer').builtBy} />

    <div
      class='screen-line-before screen-line-after flex w-full before:z-1 after:z-1 bg-[repeating-linear-gradient(315deg,var(--pattern-foreground)_0,var(--pattern-foreground)_1px,transparent_0,transparent_50%)] bg-size-[10px_10px] [--pattern-foreground:var(--color-edge)]/56'
    >
      <div
        class='mx-auto flex items-center justify-center gap-3 border-x border-edge bg-background px-4'
      >
        <a
          class='flex font-pixel text-xs font-medium text-muted-foreground'
          href={`${data.url}/llms.txt`}
          target='_blank'
          rel='noopener noreferrer'
        >
          llms.txt
        </a>

        <div class='flex h-11 w-px bg-edge'></div>

        <a
          class='flex items-center text-muted-foreground transition-colors hover:text-foreground'
          href={`${data.url}/rss.xml`}
          target='_blank'
          rel='noopener noreferrer'
        >
          <Icons.rss class='size-4' />
          <span class='sr-only'>RSS</span>
        </a>

        <div class='flex h-11 w-px bg-edge'></div>

        <a
          class='flex text-muted-foreground transition-colors hover:text-foreground'
          href='https://www.dmca.com/r/wkek193'
          target='_blank'
          rel='noopener noreferrer'
        >
          <Icons.dmca class='h-5 w-auto' />
          <span class='sr-only'>DMCA.com Protection Status</span>
        </a>
      </div>
    </div>
  </div>
  <div class='pb-[env(safe-area-inset-bottom,0px)]'>
    <div class='flex h-2'></div>
  </div>
</footer>
